
RedmineCore/obj/RedmineCore.csproj.nuget.g.targets
RedmineCore/obj/RedmineCore.csproj.nuget.g.props
RedmineCore/obj/RedmineCore.csproj.nuget.dgspec.json
RedmineCore/obj/project.assets.json
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.pdb
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.dll
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.csprojAssemblyReference.cache
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.csproj.FileListAbsolute.txt
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.csproj.CoreCompileInputs.cache
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.assets.cache
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.AssemblyInfoInputs.cache
RedmineCore/obj/Debug/netcoreapp3.1/RedmineCore.AssemblyInfo.cs
RedmineCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RedmineCore/bin/Debug/netcoreapp3.1/RedmineCore.pdb
RedmineCore/bin/Debug/netcoreapp3.1/RedmineCore.dll
RedmineCore/bin/Debug/netcoreapp3.1/RedmineCore.deps.json
RedmineCore/bin/Debug/netcoreapp3.1/chromedriver.exe
RedmineCore/.vs/RedmineCore/v16/TestStore/0/testlog.manifest
RedmineCore/.vs/RedmineCore/v16/TestStore/0/000.testlog
RedmineCore/.vs/RedmineCore/v16/.suo
RedmineCore/.vs/RedmineCore/DesignTimeBuild/.dtbcache.v2
TestRedmine/bin/Debug/netcoreapp3.1/chromedriver.exe
TestRedmine/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
TestRedmine/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TestRedmine/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
TestRedmine/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
TestRedmine/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
TestRedmine/bin/Debug/netcoreapp3.1/nunit.engine.core.dll
TestRedmine/bin/Debug/netcoreapp3.1/nunit.engine.dll
TestRedmine/bin/Debug/netcoreapp3.1/nunit.framework.dll
TestRedmine/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
TestRedmine/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
TestRedmine/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
TestRedmine/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/RedmineCore.dll
TestRedmine/bin/Debug/netcoreapp3.1/RedmineCore.pdb
TestRedmine/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/SeleniumExtras.PageObjects.dll
TestRedmine/bin/Debug/netcoreapp3.1/SeleniumExtras.WaitHelpers.dll
TestRedmine/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
TestRedmine/bin/Debug/netcoreapp3.1/testhost.dll
TestRedmine/bin/Debug/netcoreapp3.1/TestRedmine.deps.json
TestRedmine/bin/Debug/netcoreapp3.1/TestRedmine.dll
TestRedmine/bin/Debug/netcoreapp3.1/TestRedmine.pdb
TestRedmine/bin/Debug/netcoreapp3.1/TestRedmine.runtimeconfig.dev.json
TestRedmine/bin/Debug/netcoreapp3.1/TestRedmine.runtimeconfig.json
TestRedmine/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/WebDriver.dll
TestRedmine/bin/Debug/netcoreapp3.1/WebDriver.Support.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TestRedmine/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TestRedmine/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.AssemblyInfo.cs
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.AssemblyInfoInputs.cache
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.assets.cache
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.csproj.CopyComplete
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.csproj.CoreCompileInputs.cache
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.csproj.FileListAbsolute.txt
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.csprojAssemblyReference.cache
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.dll
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.genruntimeconfig.cache
TestRedmine/obj/Debug/netcoreapp3.1/TestRedmine.pdb
TestRedmine/obj/project.assets.json
TestRedmine/obj/TestRedmine.csproj.nuget.dgspec.json
TestRedmine/obj/TestRedmine.csproj.nuget.g.props
TestRedmine/obj/TestRedmine.csproj.nuget.g.targets
